body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("img1/backgr.jpg");

}

.container {
  width: 90%;
  margin: auto;
}

.header {
  background-color: #0a4141;
  padding: 20px 0;
}

.navbar {
  display: grid;
  grid-template-columns: 0.1fr 2fr;
  gap: 20px;
}

.header-logo img {
  width: 100px;
  height: auto;
}

.header-nav ul {
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.header-nav ul li {
  display: inline;
}

.header-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
}

.header-nav ul li a:hover {
  background-color: #00796b;
  border-radius: 4px;
}

.hero {
  text-align: center;
  margin: 20px 0;
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  padding: 15px 40px;
  background-color: #0f7c7e;
  border-radius: 5px;
  border: 1px solid rgb(135, 235, 196);
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
  font-size: larger;
}

button:active {
  transform: scale(0.9);
}

.product-title {
  text-align: center;
  font-size: 36px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.product-item {
  width: 30%;
  background-color: #c8db9a;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #0f7c7e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-item img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

.product-item h3 {
  color: #004445;
  font-size: 20px;
  margin: 10px 0;
}

.product-item p {
  color: #777777;
  font-size: 16px;
}
.infographic {
    background-color: #fcfcfc;
    width: 85%;
    margin-left: 6%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-style: initial;
    border-color: #9ae688;
}

h1 {
    text-align: center;
    color: #333333;
}

p {

    text-align: center;
    color: #f2f8f6;
    padding: 3%;
    font-size: larger;
}
.item {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 2.5fr 3fr;

}

.item h2 {
    color: #4CAF50;
}

.item img {
    width: 45%;
    height: auto;
    border-radius: 10px;
    max-width: 60%;
}

.item p {
    text-align: left;
    margin: 5px;
    color: #f8f3f3;
    border-radius: 6px;
    background: linear-gradient(to right, rgb(158, 214, 180), #9ae688);

}
.footer {
  background-color: #004445;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.footer-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-item p {
  font-size: 14px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.footer-nav ul li {
  margin: 0 10px;
}

.footer-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-social a {
  display: inline-block;
  font-size: 1.2rem;
  color: #f8f8f8;
  padding: 5px;
}

.footer-rights {
  margin: 10px 0;
  font-size: 14px;
}
